{% extends "challenge/base.html" %}

{% block title %}Profile{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<p>Welcome, {{ user.username }}. Thanks for logging in.</p>
<h1>Your Challenges</h1>
<ul>
  {% for challenge in user.challenge_set.select_related.all %}
    {% if user in challenge.members.select_related.all %}
      <li>
        {{challenge.name }} (member)
        <a href="{% url 'challenge:challenge_detail' challenge.id %}">View</a>
      </li>
    {% endif %}
    {% empty %}
    You haven't joined any challenges yet!
  {% endfor %}
</ul>

<h1>Recent Activities</h1>
<ul>
  {% for activity in user.activity_set.select_related.all|slice:":10" %}
    <li>{{activity.get_activity_display}}</li>
    {% empty %}
    You haven't added any activities!
  {% endfor %}

</ul>

{% else %}
<p>Welcome, new user. Please log in.</p>
{% endif %}
{% endblock %}