{% if user.is_authenticated %}
  <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
  <ul>  
    {% for challenge in user.challenge_set.select_related.all %}
      <li>{{ challenge.name }}</li>
      {% for member in challenge.members.select_related.all %}
        <li>{{ member.username }}</li>
      {% endfor %}
    {% endfor %}
  </ul>

{% else %}
  <p>Welcome, new user. Please log in.</p>
{% endif %}

<h1>Created Challenges</h1>
<ul>
{% for challenge in user_created_challenges %}
    <li>{{ challenge.created|date }} - {{ challenge.name }}</li>
{% empty %}
    <li>No Challenges created yet.</li>
{% endfor %}
</ul>