{% extends "base.html" %}

{% block title %}Register{% endblock %}
{% block content %}
<section class="hero is-primary is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          {% if next %}
          {% if user.is_authenticated %}
          <article class="message is-info">
            <div class="message-body">
              Your account doesn't have access to this page. To proceed,
              please login with an account that has access. </div>
          </article>
          {% endif %}
          {% endif %}
          <div class="box">
            <div class="is-size-4 mb-4">Create an account</div>
            {% if form.errors %}
            <article class="message is-danger">
              <div class="message-body">
                <!-- {{ form.errors }} -->
                {% for field in form %}
                  {% if field.errors %}
                    {% for error in field.errors %}
                      <li>
                        {{ field.name }} {{ error }}
                      </li>
                    {% endfor %}
                  {% endif %}
                {% endfor %}
              </div>
            </article>
            {% endif %}
            <form method="post">
              {% csrf_token %}
              <div class="field">
                <label class="label">{{ form.username.label_tag }}</label>
                <div class="control">
                  {{ form.username }}
                </div>
              </div>
              <div class="field">
                <label class="label">{{ form.password1.label_tag }}</label>
                <div class="control">
                  {{ form.password1 }}
                </div>
              </div>
              <div class="field">
                <label class="label">{{ form.password2.label_tag }}</label>
                <div class="control">
                  {{ form.password2 }}
                </div>
              </div>
              <button type="submit" class="button is-primary">Signup</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}