{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block content %}

<section class="hero is-primary is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          {% if next %}
          {% if user.is_authenticated %}
          <article class="message is-info">
            <div class="message-body">
              Your account doesn't have access to this page. To proceed,
              please login with an account that has access. </div>
          </article>
          {% endif %}
          {% endif %}
          <div class="box">
            <div class="is-size-4 mb-4">Login</div>
            {% if form.errors %}
            <article class="message is-danger">
              <div class="message-body">
                Your username and password didn't match. Please try again.
              </div>
            </article>
            {% endif %}
            <form method="post" action="{% url 'shared_user_auth:login' %}">
              {% csrf_token %}
              <div class="field">
                <label class="label">{{ form.username.label_tag }}</label>
                <div class="control">
                  {{ form.username }}
                </div>
              </div>
              <div class="field">
                <label class="label">{{ form.password.label_tag }}</label>
                <div class="control">
                  {{ form.password }}
                </div>
              </div>
              <button type="submit" class="button is-primary">Login</button>
              <a href="{% url 'shared_user_auth:signup' %}">
                <button type="button" class="button">Signup</button>
              </a>
              <input type="hidden" name="next" value="{{ next }}">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}