<!DOCTYPE html>
<html lang="en">
<head>
    <!-- <link rel="stylesheet" href="style.css"> -->
    <title>{% block title %}Challenger{% endblock %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="{% url 'challenge:challenges' %}">Challenges</a></li>
            {% if user.is_authenticated %}
              <li><a href="{% url 'shared_user_auth:profile' %}">Profile</a></li>
              <li><a href="{% url 'shared_user_auth:logout' %}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'shared_user_auth:signup' %}">Signup</a></li>
                <li><a href="{% url 'shared_user_auth:login' %}">Login</a></li>
            {% endif %}  
        </ul>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>