{% extends "challenge/base.html" %}
{% block title %}{{challenge.name}}{% endblock %}

{% block content %}
<h1>{{challenge.name}}</h1>
<p>{{challenge.created}}</p>
<p>{{challenge.created_by}}</p>
<p>Members: {{challenge.members.all.count}}</p>
<p><a href="{% url 'challenge:create_challenge_activity' challenge.id %}">Add Activity</a></p>

<ul>
  {% for activity in challenge.activity_set.all %}
  <li>{{activity.created}} {{activity.get_activity_display}} {{activity.distance}} {{activity.get_measure_display}}</li>
  {% empty %}
  <li>No Activities added yet.</li>
  {% endfor %}
</ul>
{% endblock %}