{% extends "challenge/base.html" %}
{% block title %}Edit - {{object.name}}{% endblock %}
{% block content %}
<form method="post">
  {% csrf_token %}
  <div class="field">
    <label class="label">{{ form.name.label_tag}}</label>
    <div class="control">
      {{ form.name }}
    </div>
  </div>
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <button type="submit" class="button is-primary">Update</button>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <a class="button is-danger" href="{% url 'challenge:challenge_delete' object.id %}">Delete</a>
      </div>
    </div>
  </div>
</form>
{% endblock %}